<div class="container">
  <div class="mt-4">
      <h3>Current Balance:</h3>
      <h3><b>USD {{currentAccountBalance | currency}}</b></h3>
  </div>
  <div class="mt-4" style="text-align: center;">
    <h3>Transactions</h3>
  </div>
    <div class="accordion mt-4 mb-4" id="accordionExample">
        <div class="card" *ngFor="let transaction of transactions; let i = index">
            <a class="list-group-item list-group-item-action collapsed" [ngClass]="{'list-group-item-success': transaction.type=='credit', 'list-group-item-danger':transaction.type=='debit'}" type="button" data-toggle="collapse" attr.data-target="#m{{i}}" aria-expanded="false" attr.aria-controls="m{{i}}">
                <div class="row">
                    <span class="col-md-2">Type: <b>{{transaction.type | titlecase }}</b></span>
                    <span class="col-md-3">Amount: <b>USD {{transaction.amount | currency}}</b></span>
                </div>
              </a>
          <div id="m{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                  <span class="col-md-2">From: <b>John Doe</b></span>
                  <span class="offset-md-8"></span>
                  <span class="col-md-2">To: <b>Anne Doe</b></span>
              </div>
              <div class="row">
                  <span class="col-md-3">Transaction Type: <b>{{transaction.type | titlecase }}</b></span>
              </div>
              <div class="row">
                  <span class="col-md-3">Amount: <b>USD {{transaction.amount | currency}}</b></span>
                  <span class="offset-md-7"></span>
                  <span class="col-md-2">{{transaction.effectiveDate | date: 'yyyy-dd-MM h:MM'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
